In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("city_temperature.csv")
df.head(5)

/tmp/ipykernel_12677/3277002570.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("city_temperature.csv")

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906327 entries, 0 to 2906326
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   State           object
 3   City            object
 4   Month           int64
 5   Day             int64
 6   Year            int64
 7   AvgTemperature  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 177.4+ MB

In [4]:
df.describe()

              Month           Day          Year  AvgTemperature
count  2.906327e+06  2.906327e+06  2.906327e+06    2.906327e+06
mean   6.469163e+00  1.571682e+01  2.006624e+03    5.600492e+01
std    3.456489e+00  8.800534e+00  2.338226e+01    3.212359e+01
min    1.000000e+00  0.000000e+00  2.000000e+02   -9.900000e+01
25%    3.000000e+00  8.000000e+00  2.001000e+03    4.580000e+01
50%    6.000000e+00  1.600000e+01  2.007000e+03    6.250000e+01
75%    9.000000e+00  2.300000e+01  2.013000e+03    7.550000e+01
max    1.200000e+01  3.100000e+01  2.020000e+03    1.100000e+02

In [6]:
df.Year.unique()

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020,  201,  200])

In [7]:
for year in df.Year.unique():
    year_data = df[df.Year == year]
    split_path = f"/media/Personal/Project/Temperature_Pipeline/data/raw_data/data_{year}.csv"
    year_data.to_csv(split_path, index=False)
    print(f"Data of year {year} saved to {split_path}")

Data of year 1995 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_1995.csv
Data of year 1996 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_1996.csv
Data of year 1997 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_1997.csv
Data of year 1998 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_1998.csv
Data of year 1999 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_1999.csv
Data of year 2000 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2000.csv
Data of year 2001 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2001.csv
Data of year 2002 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2002.csv
Data of year 2003 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2003.csv
Data of year 2004 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2004.csv
Data of year 2005 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2005.csv
Data of year 2006 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2006.csv
Data of year 2007 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2007.csv
Data of year 2008 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2008.csv
Data of year 2009 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2009.csv
Data of year 2010 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2010.csv
Data of year 2011 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2011.csv
Data of year 2012 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2012.csv
Data of year 2013 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2013.csv
Data of year 2014 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2014.csv
Data of year 2015 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2015.csv
Data of year 2016 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2016.csv
Data of year 2017 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2017.csv
Data of year 2018 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2018.csv
Data of year 2019 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2019.csv
Data of year 2020 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_2020.csv
Data of year 201 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_201.csv
Data of year 200 saved to /media/Personal/Project/Temperature_Pipeline/data/raw_data/data_200.csv